{sub_dirs,["apps"]}.
{lib_dirs,["apps","deps"]}.
{deps_dir,"deps"}.
{deps, [
    {ranch, ".*", {git, "git://github.com/ninenines/ranch.git", "1.2.1"}},
    {syn,    ".*", {git, "git://github.com/ostinelli/syn",      {tag, "1.1.0"} }},
    {active, ".*", {git, "git://github.com/synrc/active",       {tag, "1.9"} }},
    {mad,    ".*", {git, "git://github.com/synrc/mad",          {tag, "1.9"} }},
    {gproc,  ".*", {git, "git://github.com/uwiger/gproc",       {tag, "0.6"} }},
    {fs,     ".*", {git, "git://github.com/synrc/fs",           {tag, "1.9"} }},
    {sh,     ".*", {git, "git://github.com/synrc/sh",           {tag, "1.9"} }},
    {kvs,    ".*", {git, "git://github.com/synrc/kvs",          {tag, "3.9.1"} }},    
    {nitro,  ".*", {git, "git://github.com/synrc/nitro",        {tag, "2.4"} }},
    {n2o,    ".*", {git, "git://github.com/synrc/n2o",          {tag, "4.4"} }},
    {gen_smtp,".*",{git, "git://github.com/Vagabond/gen_smtp",  {tag, "0.12.0"} }},
    {ux,     ".*", {git, "https://github.com/erlang-unicode/ux",{tag, "master"} }},
    {bpg_ww, ".*", {git, "https://github.com/m-2k/bpg-ww.git",  {tag, "master"} }}
]}.
{fetch_speed,fast_master}.
{verbose,1}.