{sub_dirs,["apps"]}.
{lib_dirs,["apps","deps"]}.
{deps_dir,"deps"}.
{deps, [
    {syn,    ".*", {git, "git://github.com/ostinelli/syn",      {tag, "1.1.0"}  }},
    {active, ".*", {git, "git://github.com/synrc/active",       {tag, "3.3"} }},
    {mad,    ".*", {git, "git://github.com/synrc/mad",          {tag, "3.3"} }},
    {gproc,  ".*", {git, "git://github.com/uwiger/gproc",       {tag, "0.6"} }},
    {fs,     ".*", {git, "git://github.com/synrc/fs",           {tag, "1.9"} }},
    {sh,     ".*", {git, "git://github.com/synrc/sh",           {tag, "1.9"} }},
    {kvs,    ".*", {git, "git://github.com/synrc/kvs",          {tag, "3.9"} }},
    {nitro,  ".*", {git, "git://github.com/synrc/nitro",        {tag, "2.4"} }},
    {n2o,    ".*", {git, "git://github.com/synrc/n2o",          {tag, "4.4"} }}
]}.
{fetch_speed,fast_master}.
{verbose,1}.