{sub_dirs,["apps"]}.
{lib_dirs,["apps","deps"]}.
{deps_dir,"deps"}.
{deps, [
    {active, ".*", {git, "git://github.com/synrc/active",       {tag, "1.4"} }},
    {mad,    ".*", {git, "git://github.com/synrc/mad",          {tag, "0.9"} }},
    {fs,     ".*", {git, "git://github.com/synrc/fs",           {tag, "1.9"} }},
    {sh,     ".*", {git, "git://github.com/synrc/sh",           {tag, "1.9"} }},
    {kvs,    ".*", {git, "git://github.com/synrc/kvs",          {tag, "2.9"} }},
    {nitro,  ".*", {git, "git://github.com/synrc/nitro",        {tag, "2.4"} }},
    {n2o,    ".*", {git, "git://github.com/synrc/n2o",          {tag, "3.1"} }},
    
    {markdown, ".*", {git, "git://github.com/erlware/erlmarkdown", {tag, "master"} }},
    {gen_smtp, ".*", {git, "git://github.com/Vagabond/gen_smtp",   {tag, "0.9.0"}   }},
    {ux,       ".*", {git, "git://github.com/erlang-unicode/ux",   {tag, "v3.4.1"}   }}
]}.
{fetch_speed,fast_master}.
{verbose,1}.