[
	{n2o, [
		{port, 8000},
		{websocket_port, 8000},
		{app, erlach},
		{route, routes},
		{log_modules, config},
		{event, pickle},
		% {event, rails},
		% {session, js_session2},
		% {session, n2o_session},
		{session, erlach_session},
		% {pickler, n2o_secret},
		% {secret, <<"1234567890123456">>},
		{session_cookie_name, <<"erlach-sid">>}
		]},
	{kvs, [
		{dba,store_mnesia},
		{schema, [kvs_acl, kvs_feed, kvs_subscription, % kvs_user,
			db_post, db_attachment, db_thread, db_board, db_user, db_token ]}
		]},
	{avz, [
		% {http_address, "http://skyline.synrc.com"},
		% {fb_id, "385389014900491"},
		% {fb_secret, []},
		{tw_consumer_key, "a8wdLvKo0Q3MyNrm559pLWDCS"},
		{tw_consumer_secret, "4Asfu1xer3XgGuF2A7Sj92uT4WfTsmsc6AAJqiyA5Zm70rnP3I"}
		% {gplus_client_id, "146782506820.apps.googleusercontent.com"},
		% {gplus_cookiepolicy, "http://synrc.com"}
		]}
].
