[
    {n2o, [
        {websocket_port, 8000}, %% 443
        {app, erlach},
        {upload, "./apps/erlach/priv/static/attachments/upload/"},
        {filename, erlach_image},
        {filter,{spa_filter,filter}},
        {route, erlach_routes},
        {bridge, n2o_cowboy},
        {formatter, bert},
        {mq, n2o_mq},
        {log_modules, erlach_config},
        {log_level, erlach_config},
        {log_backend, n2o_log},
        {erroring, n2o_error},
        {origin, <<"*">>},
        {pickler, n2o_secret},
        {secret, <<"________________">>}, % 16
        {session, n2o_session},
        {auto_session, disabled},
        {event, pickle}
        ]},
    {erlach, [
        {title, <<"Erlach ImageBoard Services">>},
        {port, 8000},
        {acceptors, 100},
        {env, develop},
        {storage, "./apps/erlach/priv/static/attachments/"},
        {storage_urn, "/static/attachments/"},
        {upload_max_dimensions, {8688,6192}},
        {jpegtran_maxmemory, 524288}
        ]},
    {spa, [
        {postback_fun, {erlach_spa,navigate}}
        ]},
    {kvs, [
        {mnesia_context,async_dirty},
        {generation, {erlach_db,limit}},
        {forbidding, {erlach_db,forbid}},
        {dba, store_mnesia},
        {schema, [ kvs_subscription, kvs_feed, erlach_db ]}
        ]}
].
