/* Glass: http://codepen.io/Matori/pen/JFzok */
/*http://csscompressor.com*/


/* HACKS */

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
}


/* GLOBAL STYLES, MAKET */

body, button {
    font-weight: 300;
    font-family: Helvetica, RobotoDraft, arial, sans-serif;
    margin: 0px;
}

.fl {
    display: flex; display: -webkit-flex;
    justify-content: space-between; -webkit-justify-content: space-between;
    align-items: center; -webkit-align-items: center;
    flex-grow: 1; -webkit-flex-grow: 1;
}
.fl.cent { justify-content:center; -webkit-justify-content:center; }
.fl.vert {
    flex-direction:column; -webkit-flex-direction:column;
}

/* TRANSITION */

a, .b, button, #up-down-navigation, .board-list .group, .viewer-controls, .post-manage, .post-content {
    transition: opacity 250ms ease-out,
                color 250ms ease-out,
                background-color 250ms ease-out,
                border 250ms ease-out,
                filter 250ms ease-out;
}

/* BUTTONS, LINKS */

.b, button:not(.l) {
    color: #fff;
    background-color: #59d0da;
    text-transform: uppercase;
    border: 1px solid #59d0da;
    border-radius: 0.12rem;
    font-size: 1rem;
    padding: 0.4rem 0.9rem 0.3rem 0.9rem;
    display: inline-block;
    text-decoration: none;
    margin-left: 0.06rem;
    margin-right: 0.06rem;
}
button {
    cursor: pointer;
    font-weight: 100;
    border: 0rem none transparent;
    -webkit-font-smoothing: antialiased;
}
.b.info, button.info:not(.l) { border-color: rgba(38, 198, 218, 0.14); background-color: transparent; color: #59d0da; }

#footer button,  #footer .b {
    background-color: transparent;
    color: #b5a5ba;
    border-color: #dee5e1;
}

#footer button:hover,  #footer .b:hover {
    color: #7eb148;
    border-color: #bfcea7;
}

button.l, label.l, span.l, a:not(.b) {
    padding: 0rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: none;
    background-color: transparent;
    color: #59d0da;
    cursor: pointer;
}

button.l.selector:before, a.selector:not(.b):before {
    content: '☐ ';
}
button.l.selector.checked:before, a.selector.checked:not(.b):before {
    content: '☑ ';
}

button.l.purple, a.purple { color: #a682da; }
button.l.lemon, a.lemon { color: #beda2e; }
button.l.lemon:hover, a.lemon:hover { color: #f68e66; filter: none; -webkit-filter: none; }
button.l:hover, a:not(.b):hover { text-decoration: underline; }
a:hover, button:hover, .b.active, .post-topic:hover + a.b { filter: hue-rotate(90deg); -webkit-filter: hue-rotate(90deg); }
a.media-link { display: block; }
a.media-link:hover { filter: none; -webkit-filter: none; }


button.warn, .b.warn { background-color: #fa6b9f; border-color: #fa6b9f; }
button.black, .b.black { background-color: #444; border-color: #444; }
button.black.checked, .b.black.checked { background-color: #fff; color: #444; border-color: #eee; }
button.black:hover:not(.inactive), .b.black:hover:not(.inactive) { background-color: #888; border-color: #888; }
button.black.checked:hover, .b.black.checked:hover { background-color: #eee; border-color: #eee; }

button.blue, .b.blue { background-color: #99ece7; border-color: #99ece7; }
button.sea, a.b.sea { background-color: #4de5b0; border-color: #4de5b0; }
button.sea.checked, a.b.sea.checked { background-color: rgba(255, 255, 255, 0.95); color: #4de5b0; border-color: rgba(77, 229, 176, 0.19); }

button.lemon, a.b.lemon { background-color: #beda2e; border-color: #beda2e; }
button.orange, a.b.orange { background-color: #ffb90b; border-color: #ffb90b; }

button.pearl { background-color: transparent; border-color: #f68ca1; color: #f68ca1; }
button.magenta { background-color: #392a45; border-color: #867396; color: #867396; }

a.b.slim, button.slim { padding: 0.2rem 1rem 0.1rem 1rem; }

a.b[disabled='disabled'], button[disabled='disabled'] {
    background-color: rgba(255, 255, 255, 0.95);
    color: #ccc;
}

a.thread { font-weight: bold; }
a sup { font-size: 0.5rem; /*color: #ffb90b;*/ }

.svg {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
.svg:hover  { fill: #fe8675; cursor: pointer; }
.svg.submit { background-image: url('/static/submit.svg'); }


/* GLOBAL SECTIONS */

#header {
    position: fixed;
    z-index: 10;
    height: 4rem;
    width: 100%;
    top: 0px;
}
#header.loading { filter: invert(); }
#header .page {
    padding-right: 1rem;
    padding-left: 1rem;
}

#services-header { display: flex; justify-content: flex-end; }
#services-header svg { margin: 1rem 2rem; height: 1.1rem; justify-content: flex-end; }

.line-down::after, .line-up::before {
    content: "";
    margin-left: 0px;
    left: 0px;
    width: 100%;
    display: block;
    position: absolute;
    height: 1px;
    z-index: 1;
    background-color:rgba(0,0,0,0.05);
}
.line-down::after { top: 100%; }
.line-up::before { top: -1px; }

#erlach-logo { margin-left: 0.8rem; margin-right: 0.8rem; }
#erlach-logo svg path { fill: transparent; }
#erlach-logo svg g { stroke: #59d0da; }

#breadcrumbs {
    overflow: hidden;
    width: 40%;
}
#manage {
    overflow: hidden;
    width: 40%;
    text-align: right;
}

#main { align-items: flex-start; -webkit-align-items: flex-start; }
#main:not(.services) { padding-top: 4rem; }
#main.services #input .sage-button { display: none; }

body:not(.fullwidth) #content, body:not(.fullwidth) .page {
    max-width: 840px;
}
#main:not(.services) #content, #main:not(.services) .page {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
#content { margin: 0 auto; }
#viewer.active ~ * { -webkit-filter: grayscale(100%) contrast(70%) brightness(120%);  }

#content .statistics {
    padding: 3rem 0rem 1rem 0rem;
    color: #444;
    text-transform: uppercase;
}
#content .statistics > * { padding-bottom: 0.2rem; }

/* NOTIFICATIONS */

#sidebar {
    margin: 1rem 1rem 0rem 0rem;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    right: 0rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.12rem;
    max-width: 24rem;
    min-width: 16rem;
    max-height: calc(100% - 10rem);
    overflow-y: scroll;
    padding: 3rem 1rem 1rem 1rem;
    display: none;
    z-index: 3;
    border-radius: 2px;
}
#sidebar[data-visibled='true'] { display: block; }
#sidebar[data-visibled='true'] + #content { margin: 0rem 1rem 0rem 0rem; }
#sidebar .element { padding-bottom: 1.6rem; }
#sidebar .element .container { padding-top: 0.4rem; }
#manage input[type='checkbox'] { display: none; }


/* TEXT & IMAGE INPUT */

.drag {
    display: none;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 12;
    background: rgba(0,0,0,0.7);
}

#viewer, #settings {
    width: auto;
    height: auto;
    margin: auto;
    overflow: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 11;
    background: transparent;
}
#viewer { display: none; }
#viewer.active { display: block; }
#viewer .monitor {
    position: absolute;
    margin: auto;
    height: 96%;
    width: 96%;
    top: 0; left: 0; bottom: 0; right: 0;
    border-radius: 2px;
}
#viewer .media.image {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}
#viewer .viewer-controls {
    position: absolute;
    z-index: 12;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    padding-bottom: 1rem;
    padding-top: 20vh;
    opacity: 0.2;
}
#viewer .viewer-controls:hover { opacity: 1; }

#settings:not(.active) {
    display:none;
}
#settings .settings-controls {
    margin: auto;
    padding: 2rem;
    border-radius: 0.12rem;
    background-color: rgba(50, 37, 57, 0.7);
}
#settings, #settings select, #settings input { font-size: 1.2rem; }
#settings input { display: inline-block; width: auto; }
#settings .settings-controls .setting-option { margin: 1rem 0rem; color: #ddd; }
#settings .settings-controls .setting-option > *:first-child { padding-right: 1rem; }
#settings .settings-controls input { background-color: transparent; color: #eee; }

[contenteditable=true].single-line { }
[contenteditable=true].single-line br { display: none; }
[contenteditable=true].single-line * { display: inline; }

[contenteditable=true]:empty:not(:focus):before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

.post, .omitted {
    color: #444;
    margin: 1.6rem 2rem 0rem 0rem;
    position: relative;
}
#main.services .content-title, #main.services .post.head { display: none; }
#main.services .post {
    padding-left: 0rem;
    padding-right: 0rem;
}
.post-content {
    overflow: hidden;
    border-left: 0.15rem solid rgba(89, 208, 218, 0.51);
    margin-left: 6rem;
    border-top-right-radius: 0.12rem;
    border-bottom-right-radius: 0.12rem;
}
.post-flash, .omitted .post-content { padding-left: 2rem; padding-right: 1rem; }
#threads #input { margin-bottom: 2.4rem; }

.last {
    margin-bottom: 10rem;
    position: relative;
}
.last:after {
    content: '∅';
    font-size: 2rem;
    position: absolute;
    bottom: -5rem;
    left: 50%;
    margin-left: -1rem;
    color: #ddd;
}
.last .post-content {
    color: #888;
    border-left: 0.07rem solid rgba(89, 208, 218, 0.51);
}
.omitted .post-content {
    color: #ffb90b;
    border-color: #ffb90b;
    font-style: italic;
}
.post.sage .post-content {
    border-left-color: rgba(255, 5, 43, 0.51);
}
#input .post-content {
    border-left-color: #ffb90b;
}
.post-header:not(:empty), #input .post-topic {
     padding-bottom: 0.8rem;
}
#input .post-topic {
    color: #ffb90b;
}
.post-topic, a.post-topic {
    text-transform: uppercase;
    vertical-align: middle;
    padding-right: 1rem;
    
    color: #59d0da;
    outline-style: none;
    min-width: 1rem;
    word-wrap: break-word;
    line-height: 2.6rem;
    min-height: 2.6rem;
    font-size: 1.7rem;
}
a.post-topic:hover {
    text-decoration: underline;
    color: #444;
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
}

.post-message {
    width: 100%;
    outline-style: none;
    word-wrap: break-word; /*for loooong words*/
    /*text-align: justify;*/ /*stretch to width*/
    white-space: pre-wrap; /*for inserting text with whitespaces*/
}
.post:not(#input) .post-message:empty {
    display: none;
}

.post-message, .post-message a:not(.b) {
    line-height: 1.9rem;
    min-height: 1.9rem; /* FF fix */
    font-size: 1.1rem;
}
.post-message .manage {
    padding-right: 1rem;
}
.post-manage {
    visibility: hidden;
    opacity: 0;
    text-align: center;
    width: 4.6rem;
    background-color: #eee;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    /* не сжимать */
    position: absolute;
    padding: 0.4rem 0.7rem;
    border-top-left-radius: 0.12rem;
    border-bottom-left-radius: 0.12rem;
    z-index: 2;
}
.last .post-manage { border-right-width: 0.07rem; }
body.dark .post-manage {
    background-color: rgba(89, 208, 218, 0.09);
    border-right-color: #eee;
}

.post-manage button:hover, .post-manage a:hover { text-decoration: none; }
.post-manage .time, .post-manage .pid { display: block; color: #666; margin-top: 0.6rem; }
.post:hover .post-manage, .post-manage:hover { opacity: 1; visibility: visible; }
#content div:not(#input).post:hover .post-content {
    border-left-color: transparent;
    background-color: #eee;
}
body.dark #content div:not(#input).post:hover .post-content {
    border-left-color: transparent; 
    background-color: rgba(89, 208, 218, 0.09);
}

.post-answers, .post-answers button {
    color: #9c99b5;
    font-size: 1rem;
    font-style: italic;
    margin-top: 0.9rem;
    margin-bottom: 0.4rem;
    display: inline-block;
}
.post-answers a {
    color: #e98f82;
}
.post-message .related-link {
    color: #77dfe7;
    text-decoration: none !important;
    font-size: 1rem;
    margin-right: 0.8rem;
}

.post.collapsed .post-header {  padding-bottom: 0rem; }
.post.collapsed .collapse-action,
    .post.collapsed .post-image,
    .post.collapsed .post-message,
    .post.collapsed .post-answers,
    .post.collapsed + .last { display: none!important; }

.post.collapsed .post-content { border-left-color: rgba(255, 5, 43, 0.51); }
.post.collapsed .post-header { filter: contrast(0.2)  brightness(1.6); }
body.dark .post.collapsed .post-header { filter: contrast(0.6)  brightness(0.5); }

.hidden-info {
    display: none;
    padding: 0.4rem 0rem;
    color: rgba(255, 5, 43, 0.51);
    font-weight: bold;
    text-transform: uppercase;
}
.post.collapsed .hidden-info { display: block; }

.post:not(.collapsed) .expand-action { display: none; }

.reply-action, .collapse-action, .expand-action {
    background-color: #fff!important;
    display: block;
    margin-bottom: 0.2rem;
    padding: 0.3rem 0.4rem !important;
    border-radius: 0.12rem;
}
.reply-action { width: 100%; }

.link {
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}

.spoiler:not(:hover) {color: #a6f0f0;}
.spoiler { background-color: #a6f0f0 }

.strong { font-weight: bold; }
.italic { font-style: italic; }
.strikeout { text-decoration: line-through; }
.citate { color: #ffb90b; }

.post-image {
    display: block; /*for <label> tag*/
    width: 100%;
    position: relative; /*for .image-process position*/
}
.post-image.empty { display: none; }
.post-image a { display: inline-block; }
#input .post-image { cursor: pointer; }
#input input[type='file'] { display: none; }
.post-image .media.image { border-radius: 0.12rem; width: 100%; cursor: pointer; }
.input-selector { display: none; }
.input-selector:checked ~ .post-content .post-image, .post-content .post-image.thumbnail, #threads .post-image {
    max-width: 17rem;
    margin-right: 2rem;
    margin-bottom: 0rem;
    float: left; /*only for thumbnail mode*/
}


#threads .last .post-image { max-width: 10rem; }
#main.services .input-selector:checked ~ .post-content .post-image,
    #main.services .post-content .post-image.thumbnail,
    #main.services #threads .post-image {
    max-width: 8rem;
}
.image-manage label { color: #eee; }
.input-selector:checked ~ .post-content .control-thumb:after { content: ': превью' }
.input-selector ~ .post-content .control-thumb:after { content: ': полноформатная' }
.image-process {
    position: absolute;
    color:#fff;
    left: 0px; right: 0px; top: 0px; bottom: 0px;
    background-color: rgba(255,255,255,0.4);
}
.image-process.error {
    background-color: rgba(255, 0, 0, 0.4);
}
.image-process.error svg {
    display: none;
}
.image-process svg {
    width: 7rem;
    height: 7rem;
    max-width: 100%;
    max-height: 100%;
}
.post-content.latest .image-process svg circle { stroke-width: 2!important; }
.post-content.latest .image-process svg {
    width: 4rem;
    height: 4rem;
}

.image-process:not(.visibled) { display: none; }
.image-manage {
    position: absolute;
    z-index: 1;
    top: 0rem;
    border-radius: 0.12rem;
    padding: 0.4rem 1rem;
    background-color: rgba(20, 20, 20, 0.6);
}
.image-manage:not(.visibled) { display: none; }
.input-controls {
    padding-top: 1rem;
}
.image-manage .control + .control, .image-manage span + .control { margin-left: 0.5rem; }

#posts-new-controls:not(:empty) { padding: 2.4rem 3rem 1.2rem 3rem;  } 

#posts-new:not(.auto) {
    display: none;
}

.post.head, #input.post { border-color: #fe8675; }
.post .timestamp, .thread .timestamp {
    min-width: 64px;
    color: #999;
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
}

.center { display:block; margin: 0 auto; text-align: center; }
#popup-messages {
    position: fixed;
    z-index: 13;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    bottom: 0px;
    text-align:center;
}
#popup-messages:not(:empty) {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
@-webkit-keyframes popup-slide { from { opacity: 0;} to { opacity: 1;} }
#popup-messages a {
    display: inline-block;
    position: relative;
    -webkit-animation: popup-slide 0.2s ease-out 0s 1 normal;
    animation: popup-slide-left 0.2s ease-out 0s 1 normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    line-height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}
#popup-messages .info-message { background-color: #59d0da;}
#popup-messages .success-message { background-color: #5cb85c; }
#popup-messages .warning-message { background-color: #f0ad4e; }
#popup-messages .error-message { background-color: #d9534f; }

input[type=text] {
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  border: 0px;
  border-bottom: 1px solid #e1e1e1;
  width:100%;
  display:block;
  margin-bottom: 4px;
  box-sizing: border-box;
}
input[type=text]:focus {
  outline-style: none;
  border-bottom: 2px solid #59d0da;
  margin-bottom: 3px;
}

.content-title {
	text-align:center;
    text-transform: uppercase;
	font-weight: 100;
    color: #444;
    font-size: 3rem;
    line-height: 3.8rem;
    display: block;
    padding-top: 2rem;
    padding-bottom: 1.6rem;
    word-wrap: break-word;
}
.content-title .section {
    color: #4de5b0;
    padding-right: 1rem;
}
.remark {
	display: block;
	font-size: 1rem;
	color: #999;
	padding-bottom: 1rem;
	text-align:center;
}


/* STREAM STYLE */

#stream { margin-top: 1rem; }
#stream #controls { margin-top: 1rem; height: 9rem; }
#stream #images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#stream #images > * {
    display: inline-block;
    flex-grow: 0;
}
#stream #images .post-image {
    margin: 0.1rem;
}
#stream #images .media.image:not(.hidden) {
    max-height: 10rem;
    max-width: 700px;
    width: auto;
}

#stream #images .stream-image.collapsed { display: none; }

/* THREAD STYLE */
#threads { margin-top: 1rem; }
#threads #controls { margin-top: 1.6rem; height: 9rem; }
#threads #input { padding-top: 0rem; }
#threads #input .input-controls { padding-top: 0rem; margin-bottom: 8.2rem; }


/* POST STYLE */

/*.post-content,*/ .post-flash, #viewer, #settings, canvas, img {
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
/*.post-content,*/ .post-flash, #viewer, #settings { animation-duration: 1.4s; }
canvas, img { animation-duration: 0.15s; }

.image-process svg {
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes flash-element {
    0% { background-color: transparent; }
    3% { background-color: rgba(122, 236, 223, 0.7); }
    100% { background-color: transparent; }
}

@keyframes bounceIn {
  from, 40%, 60%, to { animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
  0% { opacity: 0; transform: scale3d(0.9, 0.9, 0.9); }
  40% { opacity: 1; transform: scale3d(1.03, 1.03, 1.03); }
  60% { transform: scale3d(.97, .97, .97); }
  to { opacity: 1; transform: scale3d(1, 1, 1); }
}

@keyframes right-sliding {
  from { transform: translate3d(10, 0, 0); }
  25% { transform: translate3d(-5px, 0, 0); }
  75% { transform: translate3d(-1px, 0, 0); }
  to { transform: translate3d(0, 0, 0); }
}
@keyframes left-sliding {
  from { transform: translate3d(-10, 0, 0); }
  25% { transform: translate3d(5px, 0, 0); }
  75% { transform: translate3d(1px, 0, 0); }
  to { transform: translate3d(0, 0, 0); }
}
@keyframes viewer-open {
    from { background: rgba(0,0,0,0); }
    to { background: rgba(20,20,20,0.9); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

.board-list { margin-top: 2rem; }
.board-list .group { padding: 0.4rem 0rem 0.4rem 0rem; /*-webkit-transition: opacity 250ms;*/ }
.board-list .inline { display: inline-block;  }
.board-list:not(:hover) .group:not(:hover) { opacity: 1;  }

.last-updates .remark {
    font-size: 1.6rem;
    margin-top: 5rem;
    font-weight: 100;
    color: #ff8166;
    text-transform: uppercase;
}
.last-updates a.b {
    line-height: 1.2rem;
    margin-left: 0.4rem;
}

.erlach-version { margin-bottom: 0.8rem; }
.erlach-feedback { color: #ff5795; }

#footer {
    margin-top: 5rem;
	text-align: center;
}
#footer:before {
	display:block;
	content: '';
	border-top: 1px solid rgba(200,200,200,0.3);
}
.related-links { padding: 4rem 1rem; }

.media.hidden { display: none; }

.board-list .count {
    font-size: 0.3rem;
    color: #555;
    vertical-align: text-top;
}

#content.catalog button.action-catalog:not(.checked), #content:not(.catalog) .action-catalog.checked { display: none; }
#content.catalog .last, #content.catalog .post:not(#input) .post-message { display: none; }

#content.catalog { max-width: 100%; }
#content.catalog #threads { display: flex; flex-wrap: wrap; justify-content:center; }
#content.catalog #controls { width: 100%; }
#content.catalog #input.post { width: 100%; }
#content.catalog .post:not(#input) {
    width: 50%;
    margin-left: 0rem;
    margin-right: 0rem;
}
#content.catalog .post:not(#input) .post-content {
    margin-left: 3rem;
    margin-right: 2rem;
}
#content.catalog .post:not(#input) .post-image {
    max-width: 6rem;
    max-height: 10rem;
}
#content.catalog .post:not(#input) .post-header:not(:empty) { padding-bottom: 0rem; }
#content.catalog .post:not(#input) .post-topic {
    line-height: 2.4rem;
    min-height: 2.4rem;
    font-size: 1.4rem;
}

#content.catalog .post-manage {
    width: 2.4rem;
    padding: 0.4rem 0.3rem;
    border-radius: 0rem;
}
#content.catalog .post-manage .time, #content.catalog .post-manage .pid { font-size: 0.7rem; }

#up-down-navigation {
    opacity: 0.1;
    position: fixed;
    right: 0rem;
    top: 4rem;
    bottom: 0rem;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
}
#up-down-navigation:hover { opacity: 1; }
#move-up, #move-down {
    color: #555;
    cursor: pointer;
    font-size: 2rem;
    padding: 4rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
}


body.dark { background-color: #262626; }
body.dark .image-process:not(.error) { background-color: rgba(38, 38, 38, 0.7); }
body.dark #sidebar { background-color: rgba(50, 37, 57, 0.7); }
body:not(.dark) #header { background-color: rgba(255, 255, 255, 0.95); }
body.dark #header {
    background: -webkit-linear-gradient(bottom right, rgba(250, 155, 255, 0.25) -10%,
        rgba(58, 229, 194, 0.75) 40%, rgba(58, 229, 194, 0.75) 60%, rgba(250, 155, 255, 0.25) 110%);
    background:    -moz-linear-gradient(bottom right, rgba(250, 155, 255, 0.25) -10%,
        rgba(58, 229, 194, 0.75) 40%, rgba(58, 229, 194, 0.75) 60%, rgba(250, 155, 255, 0.25) 110%);
    background:         linear-gradient(bottom right, rgba(250, 155, 255, 0.25) -10%,
        rgba(58, 229, 194, 0.75) 40%, rgba(58, 229, 194, 0.75) 60%, rgba(250, 155, 255, 0.25) 110%);
}
body.dark #erlach-logo g, body.dark #manage a { stroke: #fff; color: #fff; }
body.dark .line-down::after, body.dark .line-up::before{ background-color: rgba(0, 0, 0, 0.15); }

body.dark #footer button, body.dark #footer .b { border-color: #4c4e4d; }
body.dark #move-up, body.dark #move-down { background-color: #2d2d2d; }

body.dark a.post-topic:hover { color: #eee; }
body.dark .post, body.dark .omitted { color: #d8d8d8; }
body.dark .content-title, body.dark #breadcrumbs a { color: #ececec; }
body.dark .post-answers a { color: #b6a436; }
body.dark .post-answers, body.dark .post-answers button { color: #4f4e5c; }
body.dark .post-message .related-link { color: #75ddd9; }

body.dark .post-topic, body.dark a.post-topic { color: #dd4ca4; }
body.dark .b.info {
    color: #867396;
    border-color: #392a45;
    background-color: #392a45;
}

body.dark .spoiler:not(:hover) { color: #392a45;  }
body.dark .spoiler { background-color: #392a45; }

body.dark .last .post-content { color: #b9b0ba; }

body.dark button.blue, body.dark .b.blue {
    background-color: #49d9a7;
    border-color: #49d9a7;
}
body.dark .board-list .count { color: #86246c; }
body.dark button.l, body.dark a:not(.b):not(.lemon) { color: #c980be; }
body.dark button.l.pearl, body.dark a.pearl:not(.b) { color: #f68ca1; }

body.dark button.sea, body.dark a.b.sea { background-color: #49d9a7; border-color: #49d9a7; }
body.dark button.sea.checked, body.dark a.b.sea.checked { background-color: rgba(73, 217, 167, 0); border-color: #3bae86; color: #44ca9c; }
body.dark button.checked.control-thumb { background-color: rgba(40,40,40, 0.8); }

body.dark #content .statistics { color: #666; }
body.dark #content .erlach-version { color: #ddd; }

body.dark .reply-action, body.dark .collapse-action, body.dark .expand-action {
    background-color: rgba(255, 255, 255, 0.07) !important;
}
body.dark .last:after { color: #444; }
body.dark #popup-messages { background-color: rgba(40, 40, 40, 0.95); }
body.dark #popup-messages:before { background-color: rgba(150, 150, 150, 0.15); }

.new { position: relative; }
.new:after {
    content: 'NEW';
    position: absolute;
    right: -0.4rem;
    top: -1.1rem;
    color: #eee;
    font-size: 0.5rem;
    font-weight: bold;
    border-radius: 2rem;
    background-color: #c22;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem
}


@media screen and (max-width: 600px), screen and (max-device-width: 1080px) {
    .group .inactive { display: none; }
    #erlach-logo svg { width: 70px; }
    #breadcrumbs { flex-grow: 1; }
    #manage { width: auto; }
    body.dark { background-color: #232029; }
    #main:not(.services) #content, #main:not(.services) .page { padding-left: 0rem; }
    .post, .omitted {
        margin-right: 0rem;
    }
    .post-message, .post-message a:not(.b) {
        line-height: 1.3rem;
        min-height: 1.3rem;
        font-size: 1.0rem;
    }
    .post-manage {
        width: 2.4rem;
        padding: 0.4rem 0.3rem;
        border-radius: 0rem;
    }
    .post-manage .time, .post-manage .pid { font-size: 0.7rem; }
    .reply-action, .collapse-action, .expand-action { padding: 0.6rem 0.4rem; }
    .post-content {
        margin-left: 3rem;
        margin-right: 2rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }
    .post-flash { padding-left: 1rem; }
    .input-controls { padding-top: 3rem; }
    
    #sidebar {
        left: 0rem;
        right: 0rem;
        bottom: 0rem;
        top: 4rem;
        max-width: 100%;
        max-height: 100%;
        margin: 0rem;
    }
    body.dark #sidebar { background-color: #322539; }
    
    #viewer .viewer-controls { opacity: 1; }
    #stream #images .media.image:not(.hidden) { max-width: 100%; }
    .post-image { float: none!important; margin-bottom: 1rem!important; }
    #content.catalog .post { width: 100%; }
    #up-down-navigation #move-up, #up-down-navigation #move-down {
        font-size: 1rem;
        padding: 2rem 0.7rem;
        color: #ccc;
        background-color: transparent;
    }
    
    #content.catalog .post:not(#input) .post-topic {
        line-height: 1.4rem;
        min-height: 1.4rem;
        font-size: 1.0rem;
        padding-right: 0.4rem;
    }
    #content.catalog .post:not(#input) .post-flash > *:not(.post-message) {
        display: inline-block;
        vertical-align: top;
    }
    #content.catalog .post:not(#input) .post-image {
        margin-right: 1rem;
        margin-bottom: 0rem!important;
    }
    #content.catalog .post:not(#input) .b.info {
        font-size: 1rem;
        margin: 0rem;
        margin-right: 0.4rem;
        padding: 0rem;
        background: none;
        border: none;
    }
}
